@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.card-title{
    font-size: 20px;
    color: darkred;
}

h4{
    color: rgb(12, 6, 59);
}

.card:hover{
    transform: scale(1.1);
}

h1{
    color: #f9726b;
}

h1:hover{
    color:aliceblue;
}

.main{
    padding-top: 100px;
    background-color: #E3EEF5;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #6e7ed2;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4ad1f7;
    z-index: 999;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav_lists{
    list-style: none;
}

.nav_lists li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_lists li a{
    transition: all 0.3s ease 0s;
}

.nav_lists li a:hover {
    color: #283783;
}

button{
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(36, 79, 113);
}


