@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.section-padding{
    padding: 4rem 4rem;
}

.footer{
    background-color: #4ad1f7;
}

.wb-footer{
    display: flex;
    flex-direction: column;
}

.footer-lists{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.footer-name{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: aliceblue;
}

a{
    color: rgb(83, 117, 81);
    text-decoration: none;
}

.footer-name h3{
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.footer-name p{
    font-size: 13px;
    line-height: 15px;
    margin: 0.5rem;
    cursor: pointer;
}

.footer-below{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.3rem;
}

.footer-below-lists{
    display: flex;
}

.footer-below-lists p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
}

hr{
    color: darkred !important;
    width: 100%;
}

.footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: aliceblue;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px){
    .footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .footer-lists div{
        margin: 1rem 0;
    }

    .footer-below{
        flex-direction: column;
        justify-content: left;
    }

    .footer-below-lists{
        flex-direction: column;
    }

    .footer-below-lists p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px){
    .footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}